html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
em,
img,
strong,
hr,
u,
i,
ul,
li,
label,
table,
caption,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
u,
i,
ul,
li,
label {
  font-family: "Noto Sans KR", sans-serif;
  color: #2c2c2c;
}

/*--------common-------*/
#menu {
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}
#menu ul {
  display: flex;
}
#menu ul li {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #b2b2b2;
  line-height: 40px;
  color: #b2b2b2;
  cursor: pointer;
}
#menu ul li.on {
  border-bottom: 1px solid #2c2c2c;
  color: #2c2c2c;
}
.division {
  width: 1000px;
  margin: 0 auto;
  display:none;
}
.division.on {
  display:block;
}
.after:after {
  display: block;
  content: "";
  clear: both;
}
.after > div,
.after > ul,
.after > li,
.float {
  float: left;
}
.thick-line {
  width: 100%;
  height: 4px;
  background-color: #f6f6f6;
}
.thin-line {
  width: 100%;
  height: 2px;
  background-color: #f6f6f6;
}

/*--------top division-------*/
#top {
  width:1000px;
  margin:0 auto;
  padding: 50px 0 40px 0;
  margin-bottom: 20px;
}
#top .info {
  width: 650px;
}
#top .img {
  width: 250px;
  height: 250px;
  margin-right: 50px;
  border-radius: 50%;
  overflow: hidden;
}
#top .img img {
  height: 100%;
  width: auto;
}
#top .info h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}
#top .info p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 2;
}
#top .skills {
  padding-top: 10px;
}
#top .skills li {
  padding: 4px 8px;
  margin: 0px 10px 5px 0;
  border-radius: 7px;
  font-size: 15px;
  background: #ff744d;
  color: #fff;
}
/*--------career division-------*/
#career {
  padding-bottom: 20px;
}
#career .container {
  padding: 0 20px;
}
#career .container > div {
  padding: 40px 0;
}
#career .title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  line-height: 1.8;
  margin: 40px 0 20px 0;
}
#career .info {
  width: 350px;
}
#career .info h3 {
  margin-bottom: 5px;
  font-size: 25px;
}
#career .info p {
  color: grey;
}
#career .info .date {
  font-size: 18px;
}
#career .list li {
  list-style: initial;
  line-height: 1.9;
}
#career .list .skills p span {
  display: inline-block;
  padding: 2px;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 11px;
  background: #818181;
  color: #fff;
}
/*--------project division-------*/
.project .container {
  padding: 40px 20px;
}
.project .title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  line-height: 1.8;
  margin: 40px 0 20px 0;
}
.project .project_title {
  display:flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}
.project .project_title .show_slide {
  font-size:15px;
  font-weight:normal;
  color:#fff;
  border-radius: 7px;
  padding:5px 10px;
  margin-left:10px;
  cursor:pointer;
  background: #ff744d;
}
.project .project_title .show_slide i {
  color:#fff;
}
.project ul {
  padding-left: 20px;
}
.project ul li {
  list-style: initial;
}
/*---------slider--------*/
.slider {display:none;margin-top:30px;}
.slider .bx-wrapper .bx-caption span {text-align:center;}
